html {
    font-family: Arial;
}

.content {
    border: 4px solid gray;
    border-collapse: collapse;
}

.content td {
    padding: 3px;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

.content tr:nth-of-type(1) td {
    background-color: aquamarine;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.content tr td:nth-of-type(1){
    background-color: aquamarine;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 3px solid black;
}

.content tr td:nth-of-type(11) {
    border-right: 4px solid gray !important;
}

.content tr td:nth-of-type(21) {
    border-right: 4px solid gray !important;
}

.content tr td:nth-of-type(31) {
    border-right: 4px solid gray !important;
}

.content tr td:nth-of-type(41) {
    border-right: 4px solid gray !important;
}

.content tr td:nth-of-type(51) {
    border-right: 4px solid gray !important;
}

.content tr:nth-of-type(11) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(21) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(31) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(41) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(51) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(60) td {
    border-bottom: 4px solid gray !important;
}

.content tr:nth-of-type(70) td {
    border-bottom: 4px solid gray !important;
}